header {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url("topimage.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .mask {
  width: 100%;
  height: 100%;
  background: rgba(255,253,253,0.48);
}

header .content {
  position: absolute;
  width: 100%;
  bottom: 45%;
}

header .content h1 {
  font-size: 5rem;
}

